html, body {
	background-color: #111111;
	color: #ffffff;
}

.header .value { color: #85e085; }

a { color: #33adff; }
a:visited { color: #0099ff; }

pre.sourceCode, main > pre {
	background-color: #222222;
	border-color: #333333;
	color: #dddddd;
}

/* code:not(.sourceCode) { */
:not(pre) > code {
	background-color: #222222;
	color: #CCCCCC;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	border: 1px solid black;
}

pre.sourceCode { color: #CCCCCC; }
pre.sourceCode a { color: #dddddd; }
pre.sourceCode .cf, pre.sourceCode .kw { color: #66ff66; }
pre.sourceCode .dv, pre.sourceCode .fl, pre.sourceCode .va { color: #cc00cc; }
